<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Application</span>

    <!-- <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span> -->
    <span class="example-spacer"></span>

    <a routerLink="/events">
      <button mat-button>Datatable</button>
    </a>
    <a routerLink="/login" *ngIf="!_authService.loggedIn()">
      <button mat-button>login</button>
    </a>
    <a routerLink="/register" *ngIf="!_authService.loggedIn()">
      <button mat-button>register</button>
    </a>

    <a style="cursor: pointer;"  routerLink="/login" (click)="_authService.logoutuser()" *ngIf="_authService.loggedIn()">
      <button mat-button>logout</button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>